*{
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #F0EFEF;
}
.main{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head{
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 4px solid black;
    margin-bottom: 30px;
}

.head h1{
    font-size: 30px;
}

.photo img{
    width: 100%;
    height: auto;
}

.photo{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 15%;
    height: 280px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: auto;
}

.personal_details{
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    width: 78%;
    width: 38%;
    height: 280px;
    padding: 10px;
    margin-bottom: 30px;
    /* width: auto; */
}

.personal_details table{
    width: 700px;
    text-align: left;
    padding-left: 4px;
}
.personal_details td{
    padding: 1px;
}

h2{
    padding: 2px;
    font-size: 30px;
}

.education_details{
    background-color: white;
    width: 35%;
    height: 280px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
    width: auto;
}

.education_details table{
    width: 500px;
    height: 80%;
    text-align: center;
    margin-left: 4px;
    margin-top: 10px;
    border-collapse: collapse;
    border-color: #bcbcbc;
}

.skills{
    width: 100%;
    height: 280px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
    width: auto;
}
.skills table{
    padding: 10px;
    width: 250px;
    text-align: left;
}

.skill{
    display: flex;
    justify-content: space-between;
}

.top img{
    height: 40px;
    width: 40px;
    padding: 2px;
    padding-right: 10px;
    padding-left: px;
}

.top{
    display: flex;
}

.experience{
    background-color: white;
    height: 280px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 40%;
    margin-bottom: 30px;

}
.experience table{
    background-color: white;
    height: 80%;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-color: #bcbcbc;
}

.declaration{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 30px;

}


@media only screen and (max-width: 1090px){
    .main{
        margin: 20px;
    }
    .personal_details table{
        width: 600px;
        padding: 0;
        margin: 0;
    }
    .personal_details{
        width: 70%;
        padding: 10px;
        margin: 0;
    }
    .photo{
        margin: 0;
        width: auto;
        padding: 10px;

    }

    .education_details{
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }
    .education_details table{ 
        width: 100%;
    }

    .skills{
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }
    .experience{
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }
}

