*{
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #F0EFEF;
}
.main{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head{
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 4px solid black;
    margin-bottom: 30px;

}

.head h1{
    font-size: 30px;
}

.photo img{
    width: 100%;
    height: auto;
}

.photo{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 15%;
    height: 280px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.personal_details{
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    width: 78%;
    width: 40%;
    height: 280px;
    padding: 10px;
    margin-bottom: 30px;
}

.personal_details table{
    width: 100%;
    text-align: left;
    padding-left: 54px;
}

h2{
    padding: 2px;
    font-size: 30px;
}

.education_details{
    background-color: white;
    width: 35%;
    height: 280px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.education_details table{
    width: 90%;
    height: 80%;
    text-align: center;
    margin-left: 40px;
    border-collapse: collapse;
    border-color: #c6c6c6;
}

.skills{
    width: 100%;
    height: 280px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.skills table{
    padding: 10px;
    width: 250px;
    text-align: left;
}

.skill{
    display: flex;
}

.top img{
    height: 40px;
    width: 40px;
    padding: 2px;
    padding-right: 10px;
    padding-left: px;
}

.top{
    display: flex;
}


